body {
  background-color: #ebebeb;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

.film.item:hover .delete-button{
  visibility: visible;
  opacity: 1;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
}

li {
  /*display items in center of li*/
  display: flex;
  align-items: center;
}

.film.item {
  font-size: 16px;
  text-transform: uppercase;
  /*center the text vertically*/
  line-height: 50px;
  padding-top: 50px;
}

.sold-out {
  color: lightgray;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}

/* delete button style */
.delete-button {
  background-color: #a4a4a4;
  color: rgb(115, 115, 115);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 20px;
  margin-left: 5px;
  float: right;
  /*visible on hover over parent-elemtn*/
  visibility: hidden;
  opacity: 0;
}
